.tweet-footer {
	display         : flex;
	justify-content : space-evenly;
	margin-top      : 5px;
	padding-top     : 5px;
	border-top      : 1px solid $colorLines;
}

.tweet-action {
	color           : $colorMeta;
	margin-top      : 2px;
	padding         : 0 10px;
	text-decoration : none;
	display         : flex;

	.tweet-action-count {
		font-size   : .85em;
		margin-left : 4px;
		line-height : 1.177;
	}

	svg {
		fill       : $colorMeta;
		width      : 1em;
		height     : 1em;
		transition : fill .2s ease;
	}

	&:hover {
		&.tweet-action-reply .tweet-action-count,
		&.tweet-action-reply svg {
			fill  : $colorReply;
			color : $colorReply;
		}
		&.tweet-action-retweet .tweet-action-count,
		&.tweet-action-retweet svg {
			fill  : $colorRetweet;
			color : $colorRetweet;
		}
		&.tweet-action-like .tweet-action-count,
		&.tweet-action-like svg {
			fill  : $colorLike;
			color : $colorLike;
		}
	}

}