.tweet-media {
	font-size  : 0;
	margin     : 10px 0;
	text-align : center;
}

.tweet-media-item {
	img {
		max-width     : 100%;
		border-radius : 10px;
	}

	&-bg {
		display : none;
	}
}

.tweet-media-multi {
	position    : relative;
	padding-top : $mediaRatio;
	width       : 100%;

	.tweet-media-multi-columns {
		position : absolute;
		top      : 0;
		bottom   : 0;
		left     : 0;
		right    : 0;
		display  : flex;
	}

	.tweet-media-multi-column {
		display        : flex;
		flex-direction : column;
		flex           : 0 0 50%;

		&:first-child {
			margin-right : 1px;

			.tweet-media-item:first-child .tweet-media-item-bg {
				border-top-left-radius : 10px;
			}
			.tweet-media-item:last-child .tweet-media-item-bg {
				border-bottom-left-radius : 10px;
			}
		}
		&:last-child {
			.tweet-media-item:first-child .tweet-media-item-bg {
				border-top-right-radius : 10px;
			}
			.tweet-media-item:last-child .tweet-media-item-bg {
				border-bottom-right-radius : 10px;
			}
		}

		.tweet-media-item:nth-child( 2 ) {
			margin-top : 1px;
		}
		.tweet-media-item:only-child .tweet-media-item-bg {
			padding-top : 1px;
		}
	}

	.tweet-media-item {
		flex     : 1 0 50%;
		position : relative;

		img {
			position : absolute;
			top      : 0;
			left     : 0;
			width    : 0;
			height   : 0;
			z-index  : -1;
		}
		&-bg {
			display             : block;
			background-position : 50% 50%;
			background-repeat   : no-repeat;
			background-size     : cover;
			width               : 100%;
			height              : 100%;
		}
	}
}


.tweet-media-video,
.tweet-media-animated-gif {
	.tweet-media-item {
		display  : block;
		position : relative;

		.tweet-media-video-play {
			position        : absolute;
			top             : 0;
			left            : 0;
			right           : 0;
			bottom          : 0;
			display         : flex;
			align-items     : center;
			justify-content : center;

			svg {
				width      : 75px;
				height     : 75px;
				opacity    : .8;
				transition : opacity .2s;
			}
		}

		&:hover {
			.tweet-media-video-play svg {
				opacity : 1;
			}
		}

	}

}