.tweet {
	background    : $colorTweetBg;
	border        : 1px solid $colorBorder;
	margin-bottom : 10px;
	padding       : 10px;

	&-quoted {
		background    : $colorQuotedTweetBg;
		border        : 1px solid $colorLines;
		border-radius : 10px;
		margin-top    : 10px;
	}
}

.tweet-body {
	a {
		text-decoration : none;

		&:hover {
			text-decoration : underline;
		}
	}
}
.tweet-in-reply-to {
	color         : $colorMeta;
	font-size     : 85%;
	margin-bottom : 5px;

	svg {
		fill      : $colorMeta;
		width     : 1em;
		height    : 1em;
		translate : 0 .2em;
	}
}
