$colorTweetBg       : #fff !default;
$colorQuotedTweetBg : #fbfbfb !default;
$colorBorder        : #ddd !default;
$colorLines         : #eee !default;
$colorMeta          : #888 !default;
$colorReply         : rgb( 29, 161, 242 ) !default;
$colorRetweet       : rgb( 77, 173, 85 ) !default;
$colorLike          : rgb( 215, 43, 73 ) !default;
$mediaRatio         : 56.25% !default;

@import "_tweet";
@import "_tweet-header";
@import "_tweet-media";
@import "_tweet-footer";
@import "wa-mediabox";